<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.interfacedemo.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.interfacedemo.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="VARCHAR"/>

        <collection property="accountList" ofType="com.example.interfacedemo.entity.Account">
            <id column="bid" property="id"></id>
            <result column="uid" property="uid"></result>
            <result column="money" property="money"></result>
        </collection>
    </resultMap>


    <select id="testOneToMany" resultMap="BaseResultMap">
        SELECT a.*,b.id as bid,b.money,b.uid from user a LEFT JOIN account b on a.id = b.uid
    </select>
</mapper>
